/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
/* simple reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Press Start 2P", sans-serif;
  background-color: #222222;
  /* background-color: #60b347; */
  color: #eee;
}

.btn {
  border: none;
  outline: none;
  width: 15rem;
  height: 5rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 200ms ease;
}

.btn:hover,
.btn:active {
  outline: 2px solid #eee;
  outline-offset: 5px;
}

/* Header */
.header {
  height: 35svh;
  border-bottom: 7px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.title {
  text-transform: capitalize;
  font-size: 4rem;
}

.again-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  outline: none;
  width: 15rem;
  height: 5rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 200ms ease;
}

.game-hint {
  position: absolute;
  top: 10px;
  right: 10px;
}

.number {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #222222;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 12rem;
  font-size: 6rem;
  transition: width 200ms ease;
}

/* Main */
.main {
  height: 65svh;
  display: flex;
}

/* Left Section */
.left-sec {
  padding: 0 3rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-input {
  background-color: transparent;
  color: inherit;
  width: 100%;
  max-width: 25rem;
  font-size: 4rem;
  text-align: center;
  padding: 2.5rem;
  margin-bottom: 5rem;
  border: 3px solid #eee;
}

.check-btn {
}

.right-sec {
  padding: 0 3rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
}

.message {
  margin-bottom: 5rem;
}
.score-text {
  margin-bottom: 3rem;
}
.higscore-text {
}
